@font-face {
    font-family: 'Lilita';
    src: url(./assets/fonts/LILITAONE-REGULAR.TTF);
}

* {
    margin: 0;
    font-family: 'Lilita';
}

body {
    background-color: #18181B;
    display: grid;
    grid-template-rows: 1fr 40px;
    height: 100vh;
}

main {
    display: grid;
    grid-template: 
    '. cheshire jemima .' 480px
    '. kimmy familiars .' 480px /
    1fr 854px 854px 1fr;
}

#cheshire {
    grid-area: cheshire;
}

#jemima {
    grid-area: jemima;
}

#kimmy {
    grid-area: kimmy;
}

#familiars {
    grid-area: familiars;
    background-color: #DFD8FF;
    display: grid;
    place-content: center;
}

#familiars h1 {
    font-size: 5rem;
    color: #5C60D2;
}

#familiars h2 {
    display: grid;
    color: #5C60D2;
    justify-content: center;
    padding-bottom: 20px;
}

#familiars a {
    display: grid;
    color: black;
    justify-content: center;
    text-decoration: none;
    font-size: 1.5rem;
}

footer {
    background-color: #9E9CF8;
    display: grid;
    align-content: center;
    padding-left: 10px;
}

footer p {
    color: white;
}